<%= form_with model: [@test, @question], local: true do |form| %>
  <!-- отрендерим представление(паршл) обработки отображения ошибок -->
  <%= render 'shared/errors', resourse: @question %>

  <p>
  	<%= form.label :body %> <br>
    <%= form.text_field :body, id: :question_body %>
  </p>

  <p>
  	<%= form.label :test_id %>:
  	<%= form.collection_select :test_id, Test.all, :id, :title, prompt: true %>
  </p>

  <p><%= form.submit %></p>
<% end %>