<%= form_with url: sessions_path, local: true do |form| %>

<!--   Будем проверять и если в flash под ключем :alert установлены какие то данные
  то мы будем эти данные выводить -->
  <% if flash[:alert] %>
  <!-- подход с использованием метода content_tag удобен тем, что мы сможем вынести в дальнейшем
   код в хелпер указав просто хелпер к примеру --> <%#= flash_massage(:alert) %>
    <%= content_tag :p, flash[:alert], class: 'flash alert' %>
  <% end %>

  <p>
  	<%= form.label :email %> <br>
    <%= form.text_field :email, id: :email %>
  </p>
  
  <p>
  	<%= form.label :password %> <br>
  	<!-- password_field вводимое отобразит звездочками -->
    <%= form.password_field :password, id: :password %>
  </p>

  <p><%= form.submit 'Enter' %></p>
<% end %>