<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <input name="badge[author_id]" value="<%= current_user.id %>" type="hidden" />

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rule %>:
    <%= form.select :rule, badge_rule, selected: @badge.rule, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rule_value %>:
    <%= form.text_field :rule_value, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>