<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<div class="red_or_green <%= red_or_green! %>">
  <p>
	<%= final_result %> <br>
	<%= @test_passage.percent_result %>% true answers
  </p>
</div>

<%= link_to 'Back', tests_path %>