<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div class="red_or_green <%= red_or_green! %>">
  <p>
	<%= final_result %> <br>
	<%= @test_passage.percent_result %>% true answers
  </p>
</div>

<%= link_to t('links.back'), tests_path %>