<div class="row justify-content-center">
  <div class="col col-sm-12 col-md-8 card">
    <div class="card-body">
    	<%= content_tag :div, class: 'progress test-passage-progress', data:{ percent: @test_passage.passage_percent } do %>
	      <div class="progress-bar progress-bar-animated" role="progressbar">
	        <%= @test_passage.passage_percent %>%
	      </div>
    	<% end %>

		<h1><%= t('.header', title: @test_passage.test.title) %></h1>
		
		<p>
			<b> <%= @test_passage.current_question.body %> </b>
		</p>

		<p> Всего вопросов: <%= @test_passage.test.questions.count %> </p>

		<p> Тукущий вопрос: <%= @test_passage.current_question_number %> </p>

		<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

			<%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
				<p>
					<%= b.check_box id: "answer_ids#{b.object.id}" %>
					<%= b.label %>
				</p>
			<% end %>

			<p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post, class: "btn btn-info" %></p>

		    <div class="actions">
		      <%= form.submit t('links.next'), class: "btn btn-primary" %>
		    </div>
		<% end %>
  	</div>
  </div>
</div>