<div class="row justify-content-center mt-3">
  <div class="col col-sm-12 col-md-8 card">
    <div class="card-body">
    	<%= content_tag :div, class: 'progress test-passage-progress', data:{ percent: @test_passage.passage_percent } do %>
	      <div class="progress-bar progress-bar-animated" role="progressbar">
	        <%= @test_passage.passage_percent %>%
	      </div>
    	<% end %>

		<h1><%= t('.header', title: @test_passage.test.title) %></h1>
		
		<p>
			<b> <%= @test_passage.current_question.body %> </b>
		</p>

		<div>
			Всего вопросов: <b><%= @test_passage.test.questions.count %></b><br>

			Тукущий вопрос: <b><%= @test_passage.current_question_number %></b>
		</div><br>

		<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
			<div class="form-group">
				<%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
					<div class="form-check">
						<%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
						<b><%= b.label class: 'form-check-label' %></b>
					</div>
				<% end %>
			</div>
		    <div class="actions">
		      <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post, class: "btn btn-info" %>
		      <%= form.submit t('links.next'), class: "btn btn-primary" %>
		    </div>
		<% end %>
  	</div>
  </div>
</div>