<p>
	<b><%= t('.question', body: @answer.question.body) %></b>
</p>

<p>
	<b><%= t('.answer', body: @answer.body) %></b>
</p>

<p>
	<b><%= t('.correct') %> <%= t(".#{@answer.correct}") %></b>
</p>

<%= link_to t('links.back'), admin_question_path(@answer.question) %>