<!-- <h1><%#= question_header(@question) %></h1> -->
<div class="card p-3 my-5">
	<%= form_with model: [:admin, @test, @question], local: true do |form| %>
	  <!-- отрендерим представление(паршл) обработки отображения ошибок -->
	  <%= render 'shared/errors', resource: @question %>

		<div class="form-group">
		  <p>
		  	<%= form.label :body %> <br>
		    <%= form.text_field :body, id: :question_body %>
		  </p>

		  <p><%= form.submit class: "btn btn-success" %></p>
		</div>
	<% end %>
</div>