<!-- Rails сам использует итерацию (each) локальную переменную test
итерируя инстанс переменную @tests содержащую ссылку на специальный массив -->
<tr>
  <td class="align-middle">
  	<%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id} %>
  	<%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test_questions_count(test) %></td>
  <td class="align-middle"><%= link_to t('links.show'), admin_test_path(test), class: 'btn btn-primary' %></td>
  <td class="align-middle">
  	<%= link_to t('links.edit'), edit_admin_test_path(test), data: { test_id: test.id }, class: 'form-inline-link btn btn-primary' %> 		
  </td>

  <td class="align-middle"><%= link_to t('links.delete.title'), admin_test_path(test), method: :delete, data: { confirm: t('links.delete.confirm') }, class: 'btn btn-danger' %></td>
</tr>
