<h1><%= t('.header', title: @test.title) %></h1>

<%= link_to t('.create'), new_admin_test_question_path(@test) %>

<p>
	<strong><%= t('.title') %>:</strong>
	<%= @test.title %>
</p>

<p>
	<strong><%= t('.level') %>:</strong>
	<%= @test.level %>
</p>

<p>
	<strong><%= t('.questions') %>:</strong>
	<%= render @test.questions %>
</p>


<!-- в хеплер роутинга edit_test_path передали в качестве аргумента объект
чтобы он коректно мог найти к нему путь, тоесть того теста который мы просматриваем -->
<%= link_to t('links.back'), admin_tests_path %>
|
<%= link_to t('links.edit'), edit_admin_test_path(@test) %>
|
<%= link_to t('links.delete.title'), admin_test_path(@test), method: :delete, data: { confirm: t('links.delete.confirm') } %>