<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- метатег срабатывает тогда когда наш контент будет отображаться на мобильном устройстве -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <%= render 'admin/tests/nav' %>
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer'%>
    </div>
  </body>
</html>