<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- метатег срабатывает тогда когда наш контент будет отображаться на мобильном устройстве -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <!-- метод который возвращает специальный токен который будет передаваться и проверяться вместе с POST запросами для защиты -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- эти два метода отвечают за рендеринг css документов и javascript документов -->
    <!-- Используют компонент Pipeline, Файлопровод представляет фреймворк для соединения и минимизации или сжатия ассетов JavaScript и CSS. Он также добавляет возможность писать эти ассеты на других языках и препроцессорах, таких как CoffeeScript, Sass и ERB. Это позволяет автоматически комбинировать ассеты приложения с ассетами других гемов. -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- скрипты рендерятся в заголовке, а не как обычно перед закрывающимся тегом body, это означает ,что пока не отрендерится часть head с подключенными css и javascript пользователь не сможет увидить ничего. Нужно для нормальной реализации gem 'turbolinks'--> 
  </head>

  <body>
    <div class="container">
      <%= render 'shared/nav' %>
      <%= render 'shared/flash' %>
      <!-- Вызывает блок из ActionView, и будет рендериться соответственный шаблон согласно соглашению Rails -->
      <%= yield %>
      <%= render 'shared/footer'%>
    </div>
  </body>
</html>
